{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wishlist</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ wishlist.id }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('wishlist_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('wishlist_edit', { 'id': wishlist.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wishlist</h1>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wishlist.id }}</td>
            </tr>
            <tr>
                <th>Artists</th>
                <td>{% for artist in wishlist.artist %}
                        <p>{{ artist.id }} - {{ artist.name }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Festivals</th>
                <td>{% for festival in wishlist.festival %}
                        <p>{{ festival.id }} - {{ festival.title }}</p>
                        <p>{{ festival.dateStart|date("d D H:i") }} - {{ festival.dateEnd|date("d D H:i") }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Concerts</th>
                <td>{% for concert in wishlist.concert %}
                        <p>{{ concert.id }} - {{ concert.artist }} - {{ concert.location.name }}</p></p>
                        <p>{{ concert.dateStart|date("d D H:i") }} - {{ concert.dateEnd|date("d D H:i") }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Concerts</th>
                <td>{% for genre in wishlist.genre%}
                        <p>{{ genre.id }} - {{ genre.name }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Locations</th>
                <td>{% for location in wishlist.location %}
                        <p>{{ location.id }} - {{ location.name }}</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>



    <ul>
        <li>
            <a href="{{ path('wishlist_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('wishlist_edit', { 'id': wishlist.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
