{% extends 'base.html.twig' %}

{% block body %}
    <h1>Festivals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Budget</th>
                <th>Linkwebsite</th>
                <th>Linkfbevent</th>
                <th>Linkfbpage</th>
                <th>Linkinstagram</th>
                <th>Location</th>
                <th>Concert</th>
                <th>Genre</th>
                <th>Iscomplete</th>
                <th>Issoldout</th>
                <th>Isvalid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for festival in festivals %}
            <tr>
                <td><a href="{{ path('festival_show', { 'id': festival.id }) }}">{{ festival.id }}</a></td>
                <td>{{ festival.title }}</td>
                <td>{{ festival.description }}</td>
                <td>{% if festival.dateStart %}{{ festival.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if festival.dateEnd %}{{ festival.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ festival.budget }}</td>
                <td>{{ festival.linkWebsite }}</td>
                <td>{{ festival.linkFbEvent }}</td>
                <td>{{ festival.linkFbPage }}</td>
                <td>{{ festival.linkInstagram }}</td>
                <td>{{ festival.location }}</td>
                <td>{% for concert in festival.concert %}{{ concert }}{% endfor %}</td>
                <td>{{ festival.genre }}</td>
                <td>{% if festival.isComplete %}Yes{% else %}No{% endif %}</td>
                <td>{% if festival.isSoldOut %}Yes{% else %}No{% endif %}</td>
                <td>{% if festival.isValid %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('festival_show', { 'id': festival.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('festival_edit', { 'id': festival.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('festival_new') }}">Create a new festival</a>
        </li>
    </ul>
{% endblock %}
