{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylediscover.css') }}">

{% endblock %}

{% block body %}

    <div class="discover">
        <div class="row">
            <div class="col s12 m4 festival">
                <div class="row search">
                    <div class="input-field">
                        <!-- TODO All : search bar in Ajax -->
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Search by festival, genre, artist</label>
                        <div class="center-align hide-on-med-and-up">
                            <button id="switch">Change View</button>
                        </div>
                        <br>
                        <!-- Switch -->
                    </div>
                </div>
                <div class="row festival-cards">
                    {% for festival in festivals %}
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>{{ festival.title }}</p>
                                    <p class="italic">{{ festival.genre }}</p>
                                    <p>{% if festival.start is defined %}
                                            {{ festival.start|date("d M") }} - {{ festival.end|date("d M Y") }}
                                        {% else %}TBA
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="card-image">
                                <!-- Add/remove to/from wishlist -->
                                {% if app.user is not null %}
                                    {% if user.wishlist is not empty %}
                                        {% if festival in user.wishlist.festival %}
                                            <a class="addFestivalToWishList favorite btn-floating waves-effect waves-light pink" href="{{ path('wishlist_festival', { 'user_id': user.id, 'id': user.wishlist.id, 'festival_id': festival.id }) }}"><i class="material-icons">favorite</i></a>
                                        {% else %}
                                            <a class="addFestivalToWishList favorite btn-floating waves-effect waves-light pink pulse" href="{{ path('wishlist_festival', { 'user_id': user.id, 'id': user.wishlist.id, 'festival_id': festival.id }) }}"><i class="material-icons">favorite_border</i></a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <a class="favorite btn-floating waves-effect waves-light pink pulse modal-trigger" href="{{ path('fos_user_security_login') }}"><i class="material-icons">favorite_border</i></a>
                                {% endif %}
                                <!-- Modal Festival - Trigger -->
                                <a class="zoom-in btn-floating waves-effect waves-light cyan modal-trigger" href="{{ '#modal'  ~ festival.id ~ 'b' }}"><i class="material-icons">zoom_in</i></a>
                                <!-- Modal Festival - Structure -->
                                <div id="{{ 'modal' ~ festival.id ~ 'b' }}" class="modal">
                                    <div class="modal-content">
                                        <div class="row">
                                           <div class="col offset-s1 s10">
                                                <h2 class="center-align festival-title">{{ festival.title|upper }}</h2>
                                           </div>
                                            <div class="col s1">
                                                <p class="modal-action modal-close right-align">X</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m3">
                                                <div class="card">
                                                    <img class="responsive-img" src="{% if festival.imageBanner %}{{ festival.imageBanner }}{% else %}{{ asset('img/logorondblanc.png') }}{% endif %}">
                                                    <br>
                                                    <div class="collection-item">
                                                        <div class="row">
                                                            <div class="col s12 left-align"><i class="material-icons">location_on</i>{{ festival.location }}</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col s12 left-align"><i class="material-icons">date_range</i>
                                                                {% if festival.start %} {{ festival.start|date("d M") }} - {{ festival.end|date("d M Y") }} ({{ ((festival.end).diff(festival.start))|date }})
                                                                {% else %}TBA
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col s12 m9">
                                                <div class="card">
                                                    <div class="card-tabs">
                                                        <ul class="tabs tabs-fixed-width">
                                                            <li class="tab"><a class="active" href="{{ '#general' ~ festival.id }}">General</a></li>
                                                            <li class="tab"><a href="{{ '#lineup' ~ festival.id }}">Line Up</a></li>
                                                            <li class="tab"><a href="{{ '#map' ~ '2' ~ festival.id }}">Map</a></li>
                                                            <li class="tab"><a href="{{ '#links' ~ festival.id }}">Social</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-content">
                                                        <div id="{{ 'general' ~ festival.id }}">
                                                            <ul class="collection">
                                                                <li class="collection-item avatar">
                                                                    <i class="material-icons circle blue lighten-2">music_note</i>
                                                                    <span class="title left">Genre</span>
                                                                    <br>
                                                                    <p class="left-align"><br>{{ festival.genre }}</p>
                                                                </li>
                                                                <li class="collection-item avatar">
                                                                    <i class="material-icons circle blue lighten-2">subject</i>
                                                                    <span class="title left">Description</span>
                                                                    <br>
                                                                    <p class="left-align"><br>{{ festival.description }}</p>
                                                                </li>
                                                                <li class="collection-item avatar">
                                                                    <i class="material-icons circle blue lighten-2">monetization_on</i>
                                                                    <span class="title left">Budget</span>
                                                                    <br>
                                                                    <p class="left-align"><br>{% if festival.budget %}{{ festival.budget }} euros{% else %}N/A{% endif %}</p>
                                                                    {% if festival.linkTickets %}
                                                                        <a href="{{ festival.linkTickets }}" target="_blank" class="secondary-content"><i class="material-icons">local_play</i></a>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div id="{{ 'lineup' ~ festival.id }}">
                                                            <ul class="collection">
                                                                {% if festival.concert %}
                                                                    {% for concert in festival.concert %}
                                                                        <li class="collection-item avatar">
                                                                            <i class="material-icons circle deep-purple lighten-2">people</i>
                                                                            <h3 class="left-align">{{ concert.artist }}</h3>
                                                                            <p class="left-align truncate">{{ concert.start|date("d D H:i") }} - {{ concert.end|date("d D H:i") }}<br>
                                                                                {% if concert.location %}{{ concert.location }}{% endif %}
                                                                            </p>
                                                                            <!-- Add/remove to/from wishlist -->
                                                                            {% if app.user is not null %}
                                                                                {% if user.wishlist is not empty %}
                                                                                    {% if concert in user.wishlist.concert %}
                                                                                        <a class="secondary-content" href="{{ path('wishlist_concert', { 'user_id': user.id, 'id': user.wishlist.id, 'concert_id': concert.id }) }}"><i class="material-icons">favorite</i></a>
                                                                                    {% else %}
                                                                                        <a class="secondary-content" href="{{ path('wishlist_concert', { 'user_id': user.id, 'id': user.wishlist.id, 'concert_id': concert.id }) }}"><i class="material-icons">favorite_border</i></a>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <a class="secondary-content" href="{{ path('fos_user_security_login') }}"><i class="material-icons">favorite_border</i></a>
                                                                            {% endif %}
                                                                        </li>
                                                                    {% endfor %}
                                                                {% else %}N/A
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                        <div class="center" id="{{ 'map' ~ '2' ~ festival.id }}">
                                                            <iframe
                                                                    width="450"
                                                                    height="350"
                                                                    frameborder="0" style="border:0"
                                                                    src={{ "https://www.google.com/maps/embed/v1/place?key=" ~ google_maps_api ~ "&q=" ~ festival.location.address }}>
                                                            </iframe>
                                                        </div>
                                                        <div id="{{ 'links' ~ festival.id }}">
                                                            <ul class="collection">
                                                                <li class="collection-item avatar">
                                                                    <i class="material-icons circle blue-grey lighten-3">perm_identity</i>
                                                                        <div class="row">
                                                                            {% if festival.wishlist is not empty  %}
                                                                                {% for wishlist in festival.wishlist %}
                                                                                    <div class="col s2 m2 l1">
                                                                                        {% if wishlist.user.imageIcon is not empty  %}
                                                                                            <img src="{{ wishlist.user.imageIcon }}" alt="" style="border-radius: 50%">
                                                                                        {% else %}
                                                                                            <img src="http://bestchoice.property/wp-content/uploads/2015/07/empty-agent-profile.png" alt="" style="border-radius: 50%">
                                                                                        {% endif %}
                                                                                    </div>
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <p class="center">No attendee yet :/</p>
                                                                            {% endif %}
                                                                        </div>
                                                                </li>
                                                                <li class="collection-item avatar">
                                                                    <i class="material-icons circle blue-grey lighten-3">insert_link</i>
                                                                    <p class="center-align">
                                                                        {% if festival.linkWebsite %}<a href="{{ festival.linkWebsite }}" target="_blank" class="btn-floating amber "><i class="material-icons">insert_link</i></a>{% endif %}
                                                                        {% if festival.linkFbPage %}<a href="{{ festival.linkFbPage }}" target="_blank" class="btn-floating blue darken-3 "><i class="fa fa-facebook"></i></a>{% endif %}
                                                                        {% if festival.linkFbEvent %}<a href="{{ festival.linkFbEvent }}" target="_blank" class="btn-floating blue darken-3 "><i class="material-icons">date_range</i></a>{% endif %}
                                                                        {% if festival.linkInstagram %}<a href="{{ festival.linkInstagram }}" target="_blank" class="btn-floating purple"><i class="fa fa-instagram"></i></a>{% endif %}
                                                                    </p>
                                                                </li>
                                                                <li class="collection-item avatar">
                                                                    <i class="material-icons circle blue-grey lighten-3">edit</i>
                                                                    <p class="center-align">
                                                                        <a href="{{ path('festival_edit', { 'festival_id': festival.id }) }}" target="_blank">Missing some info, tell us!</a>
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--.Modal Festival - Structure -->
                                <img src="{% if festival.imageBanner %}{{ festival.imageIcon }}{% else %}{{ asset('img/logorondblanc.png') }}{% endif %}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--.festival -->
            <div class="col s12 offset-m4 m8 map">
                <div id="map"></div>
            </div>
            <!--.map -->
        </div>
        <!--.row -->
    </div>
    <!--.discover -->

{% endblock %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    <!--GoogleMaps script -->
    <script>
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: {
                    {% if user.address.latitude is defined %}
                        lat: {{ user.address.latitude }},
                        lng: {{ user.address.longitude }}
                    {% else %}
                        lat: 48.864716,
                        lng: 2.349014
                    {% endif %}
                }
            });
            // Create an array of alphabetical characters used to label the markers.
            var labels = [
            ];

            var infoWin = new google.maps.InfoWindow();
            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function(location, i) {
                var marker = new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infoWin.setContent(location.info);
                    infoWin.open(map, marker);
                });
                return marker;
            });

            // markerCluster.setMarkers(markers);
            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers, {
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = [
                {% for festival in festivals %}{
                lat: {{ festival.location.latitude }},
                lng: {{ festival.location.longitude }},
                info: '<a class="modal-trigger" href="{{ '#modal' ~ festival.id ~ 'b' }}">{{ festival.title }}</a>'
            },{% endfor %}
        ];


    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src={{ 'https://maps.googleapis.com/maps/api/js?key=' ~ google_maps_api  ~ '&content_copy&callback=initMap' }}>
    </script>

     {#Custom script#}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });

        $("#switch").click(function(){
            $("#map").toggleClass("switcher");
        });

        // Add a festival to WishLIst
        $(".addFestivalToWishList").on('click', function(event){
            event.preventDefault();
            var href = $(this).attr('href');
            var elemen = $(this);
            $.ajax({
                url: href,
                type: "GET",
                success: function(response){
                    if (response === true){
                        Materialize.toast('Le festival a bien été ajouté à votre WishList', 4000);
                        elemen.html("<i class='material-icons'>favorite</i>");

                    } else{
                        Materialize.toast('Le festival a bien été supprimé de votre WishList', 4000)
                        elemen.html("<i class='material-icons'>favorite_border</i>");
                    }
                }
            })
        })

    </script>

{% endblock javascripts %}