{% extends "base.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylediscover.css') }}">

{% endblock %}

{% block fos_user_content %}

    <!-- TODO All : overrider template pour ajouter adresse, wishlist hidden, et lien vers register et explication de l'interet de s'enregistrer -->

    <div class="container container-top">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>

{% endblock fos_user_content %}


{#{% extends 'base.html.twig' %}#}

{#{% block stylesheets %}#}

    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/stylediscover.css') }}">#}

{#{% endblock %}#}

{#{% block body %}#}

    {#<div class="container container-top">#}

        {#<div class="row center-align">#}
            {#<div class="col s12">#}
                {#<h2>Login</h2>#}
            {#</div>#}
        {#</div>#}

        {#<div class="row">#}
            {#<div class="col s12 center-align">#}
                {#<h3>Connect with</h3>#}
                {#<p>#}
                    {#<a href="" target="_blank" class="btn-floating blue darken-3"><i class="fa fa-facebook"></i></a>#}
                    {#<a href="" target="_blank" class="btn-floating red darken-1 "><i class="fa fa-google"></i></a>#}
                {#</p>#}
                {#<p>Or Log in here</p>#}
            {#</div>#}
        {#</div>#}

        {#<div class="row">#}
            {#<form class="col s12">#}

                {#<div class="row">#}
                    {#<div class="input-field col s12">#}
                        {#<i class="material-icons prefix">account_circle</i>#}
                        {#<input id="icon_prefix" type="text" class="validate">#}
                        {#<label for="icon_prefix">Pseudo</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row">#}
                    {#<div class="input-field col s12">#}
                        {#<i class="material-icons prefix">mail_outline</i>#}
                        {#<input id="icon_prefix" type="email" class="validate">#}
                        {#<label for="icon_prefix" data-error="Please enter a valid email address" data-success="Perfect!">Email</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row">#}
                    {#<div class="input-field col s12">#}
                        {#<i class="material-icons prefix">lock</i>#}
                        {#<input id="icon_prefix" type="password" class="validate">#}
                        {#<label for="icon_prefix" data-error="Please enter a valid password" data-success="Perfect!">Password</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row">#}
                    {#<div class="col s12 center-align">#}

                        {#<button class="btn waves-effect waves-light"><a href="{{ path('fos_user_security_check') }}">Login</a>#}
                            {#<i class="material-icons right">send</i>#}
                        {#</button>#}
                        {#<button class="btn waves-effect waves-light" type="submit" name="action">#}
                        {#<i class="material-icons right">send</i>#}
                        {#</button>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="center-align forgot_password">#}
                    {#<a href="forgotten_password.html">Forgot your password?</a>#}
                {#</div>#}

            {#</form>#}

        {#</div>#}

    {#</div>#}

{#{% endblock body %}#}

{#{% block javascripts %}#}

    {#<script src="https://use.fontawesome.com/a4cc06d132.js"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/scriptform.js') }}"></script>#}

{#{% endblock javascripts %}#}