{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylediscover.css') }}">

{% endblock %}

{% block body %}

    <div class="container container-top">

        <div class="row center-align">
            <div class="col s12">
                <h2>Login</h2>
            </div>
        </div>

        {#<div class="row">#}
            {#<div class="col s12 center-align">#}
                {#<h3>Connect with</h3>#}
                {#<p>#}
                    {#<a href="" target="_blank" class="btn-floating blue darken-3"><i class="fa fa-facebook"></i></a>#}
                    {#<a href="" target="_blank" class="btn-floating red darken-1 "><i class="fa fa-google"></i></a>#}
                {#</p>#}
                {#<p>Or Log in here</p>#}
            {#</div>#}
        {#</div>#}

        <div class="row">
            <form class="col s12" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}

    {#<script src="https://use.fontawesome.com/a4cc06d132.js"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/scriptform.js') }}"></script>#}

{% endblock javascripts %}