{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/stylediscover.css') }}">

{% endblock %}

{% block body %}

    <div class="container container-top">
        <h2>Edit concert</h2>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('festival_edit', { 'festival_id': concert.festival.id}) }}">Back to the list</a>
            </li>
        </ul>
    </div>

{% endblock %}