{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concerts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Artist</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td><a href="{{ path('concert_show', { 'id': concert.id }) }}">{{ concert.id }}</a></td>
                <td>{% if concert.dateStart %}{{ concert.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if concert.dateEnd %}{{ concert.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ concert.artist }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('concert_show', { 'id': concert.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('concert_edit', { 'id': concert.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concert_new') }}">Create a new concert</a>
        </li>
    </ul>
{% endblock %}
