{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concert.id }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if concert.dateStart %}{{ concert.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if concert.dateEnd %}{{ concert.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ concert.artist }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concert_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concert_edit', { 'id': concert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
